*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body
{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url('https://cdn.wallpapersafari.com/26/26/UhAScd.jpg');
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Mochiy Pop P One', sans-serif;



}

#canvas1
{
width: 800px;
height: 500px;
border: 4px solid rgb(0, 0, 0);
background: linear-gradient(to bottom, rgba(125,185,232,1) 0%, rgba(32,124,202,1) 34%, rgba(30,87,153,1) 72%, rgb(2, 24, 32) 100%);
}

/*----------------------------------*/

.button {
  background-color: #5e1bc9; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #5e1bc9;
}

.button1:hover {
  background-color: #5e1bc9;
  color: white;
}

.Rules
{
  padding-right: 40px;
  padding-left: 0px;
  color: #150050;
}

/*-------footer---*/

